@model MichiBlog.WebApp.ViewModels.PageVM
@{
    ViewData["Title"] = "Contact";
    string pageThumbnail = "";
    if (Model.ThumbnailUrl == null || Model.ThumbnailUrl == "")
    {
        pageThumbnail = "/blog/assets/img/contact-bg.jpg";
    }
    else
    {
        pageThumbnail = "/Thumbnails/" + Model.ThumbnailUrl;
    }
}
<!-- Page Header-->
<header class="masthead" style="background-image: url('@pageThumbnail')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>@Model.Title</h1>
                    <span class="subheading">@Model.ShortDescription</span>
                </div>
            </div>
        </div>
    </div>
</header>
<main class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                @Html.Raw(Model.Content)
                <div class="my-5">
                    @if (TempData["SuccessMessage"] != null)
                    {
                        <div class="alert alert-success">@TempData["SuccessMessage"]</div>
                    }

                    @if (TempData["ErrorMessage"] != null)
                    {
                        <div class="alert alert-danger">@TempData["ErrorMessage"]</div>
                    }
                    <form id="contactForm" asp-action ="SendMessage" asp-controller ="Page" method="post">
                        <div class="form-floating">
                            <input class="form-control" name="Name" id="name" type="text" placeholder="Enter your name..." />
                            <label for="name">Name</label>
                        </div>
                        <div class="form-floating">
                            <input class="form-control" name="Email" id="email" type="email" placeholder="Enter your email..." />
                            <label for="email">Email address</label>
                        </div>
                        <div class="form-floating">
                            <input class="form-control" name="Phone" id="phone" type="tel" placeholder="Enter your phone number..."/>
                            <label for="phone">Phone Number</label>
                        </div>
                        <div class="form-floating">
                            <textarea class="form-control" name="Message" id="message" placeholder="Enter your message here..." style="height: 12rem"></textarea>
                            <label for="message">Message</label>
                        </div>
                        <br />  
                        <!-- Submit Button-->
                        <button  id="submitButton" type="submit">Send</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>

<script>
    document.getElementById("contactForm").addEventListener("submit", function (e) {
        const submitButton = document.getElementById("submitButton");
        submitButton.disabled = true;
        submitButton.innerText = "Sending...";
    });
</script>

