@model List<MichiBlog.WebApp.ViewModels.PostVM>
@{
    ViewData["Title"] = "List of Posts";
    ViewData["ActivePage"] = "Posts";
}
<div class="container-fluid">
    <a class="btn bg-primary text-white" asp-action="Create" asp-controller="Post">Add Post</a>
    <div class="card">
        <div class="card-header bg-primary">
            <h4 class="card-title text-white">List of Posts</h4>
        </div>
        <div class="card-body">
            <table class="table table-striped table-hover" id="userTable">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Title</th>
                        <th>Author</th>
                        <th>Description</th>
                        <th>Created Date</th>
                        <th>Thumbnail</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var post in Model)
                    {
                        <tr>
                            <td>@post.Id</td>
                            <td>@post.Title</td>
                            <td>@post.Author</td>
                            <td>@post.ShortDescription</td>
                            <td>@post.CreatedDate.ToShortDateString()</td>
                            <td>
                                <button class="btn btn-link" data-toggle="modal" data-target="#thumbnailModal-@post.Id">View</button>

                                <!-- Thumbnail Modal -->
                                <div class="modal fade" id="thumbnailModal-@post.Id" tabindex="-1" aria-labelledby="thumbnailModalLabel-@post.Id" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="thumbnailModalLabel-@post.Id">Thumbnail Preview</h5>
                                            </div>
                                            <div class="modal-body text-center">
                                                <img src="~/Thumbnails/@post.ThumbnailUrl" class="img-fluid rounded" alt="Thumbnail for @post.Title">
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <a class="btn bg-primary text-white" asp-action="Edit" asp-controller="Post" asp-route-id="@post.Id" method ="post">Edit</a>
                                <!-- Delete Button -->
                                <button class="btn bg-danger text-white" data-toggle="modal" data-target="#deleteModal-@post.Id">Delete</button>

                                <!-- Delete Confirmation Modal -->
                                <div class="modal fade" id="deleteModal-@post.Id" tabindex="-1" aria-labelledby="deleteModalLabel-@post.Id" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="deleteModalLabel-@post.Id">Confirm Delete</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                Are you sure you want to delete the post titled "<strong>@post.Title</strong>"?
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                                <form asp-action="Delete" asp-controller="Post" asp-route-id="@post.Id" method="post" style="display:inline;">
                                                    <button type="submit" class="btn btn-danger">Yes, Delete</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>